# devsecops-pipeline .env.example
# Copy this file to .env and fill in your own values.

# General host info
HOST_IP=

# Vault
VAULT_TOKEN=
VAULT_URL=http://${HOST_IP}:8200

# Docker Hub
DOCKERHUB_USERNAME=
DOCKERHUB_PAT=

# GitLab
GITLAB_PORT=9500
REGISTRY_PORT=5002
ROOT_PASSWORD=
ADMIN_USERNAME=adminuser
ADMIN_PASSWORD=
ADMIN_EMAIL=admin@example.com
USER_USERNAME=normaluser
USER_PASSWORD=
USER_EMAIL=user@example.com
IMPORT_URL=https://gitlab.practical-devsecops.training/pdso/django.nv.git
IMPORT_PROJECT_NAME=django-nv-import
GITLAB_URL=http://${HOST_IP}:${GITLAB_PORT}
REGISTRY_URL=${HOST_IP}:${REGISTRY_PORT}

# DefectDojo
DOJO_PORT=8080
DOJO_ADMIN_USER=admin
DOJO_ADMIN_PASSWORD=
DOJO_DB_PASSWORD=

# Grafana
GRAFANA_PASSWORD=

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
